body{
    background-color:rgb(51, 51, 51) ;
}

*{
    box-sizing: border-box;
}
.box{
    border: 4px solid rgba(45, 118, 167, 0.788);
    width: 100px;
    height: 100px;

}

.box-small{
    width: 50px;
    height: 50px;
    margin-left:24px;
}

.box-wrapper{
    display: flex;
    align-items:cen
    er;
}


.container{
    border: 4px solid rgb(211, 148, 123);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

   


.container-2{
    margin-top: 15px;


    border: 4px solid rgb(211, 148, 123);
    padding: 24px 24px 0 24px;
    /*does the same thing as comment below
    display: flex;
    justify-content: center;
 */
}
/*Caps the size so it dosen't change*/
.row{
    /*THIS IS SO FUCKING USEFUL*/
    width:100%;
    max-width:600px ;
    margin: 0 auto;
}

.title{
    border: 2px solid lightseagreen;
    width: 100%;
    height: 24px;
    margin-bottom:24px;
}



.box-2{
    border: 4px solid rgba(45, 118, 167, 0.788);
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
    

}

.box-wrapper-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container-3{
    margin-top: 15px;


    border: 4px solid rgb(211, 148, 123);
    padding: 80px 24px 56px 24px;
    display: flex;
    justify-content: space-between;
}

.row3{
    width: 100%; ;
    max-width: 600px;
    margin: 0 auto -24px auto; 
    display: flex;
    justify-content: space-between;
}


.box-3{
    border: 1px solid rgba(45, 118, 167, 0.788);
       
    /* margin: 0 0 24px 0;*/   /* same as margin-bottom*/
   margin-bottom: 24px;    
}

.smallbox3{
    height: 50px;
    width: 295px;
    
}

.box-wrapper-3{
    width: 45%;
    display:block;

   /* display: flex;
    flex-direction:column;  /* Puts all selected items above each other and to the beginning left of the container*/
}

.box-3large{
    width: 45%;
    
}




.container-4{
    margin-top: 15px;


    border: 4px solid rgb(211, 148, 123);
    padding: 80px 24px 56px 24px;
  
  
}

.row4{
    width: 100%; 
    max-width: 600px;
    margin: 0 auto -24px auto; 
    display: flex;
    justify-content: space-between;
}

.box-4{
    border: 1px solid rgba(45, 118, 167, 0.788);
       
    /* margin: 0 0 24px 0;*/   /* same as margin-bottom*/
   margin-bottom: 24px;    
}

.smallbox4{
    height: 50px;
    
}
.smallboxtiny4{
    width:30% ;
    height: 50px;
  
}

.tinywrapper{
    display: flex;
    justify-content: space-between;
}

.box-wrapper-4{
    width: 45%;
    display:block;

    /*display: flex;
    flex-direction:column;   Puts all selected items above each other and to the beginning left of the container*/
}

.box-4large{
    width: 45%;
}


